@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-md;
  }
  h6 {
    @apply text-sm;
  }
  button {
    @apply cursor-pointer border-none bg-none font-body;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  min-width: 0;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
